
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.item{
    margin: 5px;
}
.context{
    margin-left:9px
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.send--Btn{
    padding: 5px 15px;
    font-size: 12px;
    background-color: lightslategray;
    color: white;
    border:none;

   font-family: "Roboto", sans-serif;
   font-weight: 400;
   border-radius: 7px;
   cursor: pointer;
   transition: transform o.3s ease; 
    
 
}

.select {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 11px;
}